#results #errorMsg {
    color: red;
    font-size: 1.2em;
}

#results #emptyMsg {
    color: forestgreen;
    font-size: 1.2em;
}

#recordInfo .headerLabel {
    font-weight: bold;
    font-size: 1.2em;
}

#full-search-link {
    font-weight: bold;
    font-size: 1.2em;
}

