{% spaceless %}
    <hr/>
    <h2>Edit / Create Taxon Data</h2>
    <form action="" method="post">
        {% csrf_token %}
        <table width="100%">
            {% for field in fields %}
                <tr>
                    {% if 'dropdown' in field.fieldtype %}
                        <td {% if field.style %} style="{{ field.style }}"{% endif %}>
                            <label>{{ field.label }}</label>
                        </td>
                        <td>
                            <select id="{{ field.name }}" name="{{ field.name }}">
                                <option value="">Please select</option>
                                {% for value in field.dropdowns %}
                                    <option value="{{ value.0 }}"{% if value.0 == field.value %}
                                            selected{% endif %}>{{ value.0|slice:":40" }} ({{ value.1 }})
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                    {% elif 'string' in field.fieldtype or 'date' in field.fieldtype %}
                        <td {% if field.style %} style="{{ field.style }}"{% endif %}>
                            <label>{{ field.label }}</label>
                        </td>
                        <td>
                            <input type="{{ field.type }}" id="{{ field.name }}" name="{{ field.name }}"
                                   source="{{ suggestsource }}" value="{{ field.value }}"/>
                        </td>

                    {% elif 'ignore' in field.fieldtype %}
                    {% else %}
                        <td {% if field.style %} style="{{ field.style }}"{% endif %}>
                            <label>{{ field.label }}</label>
                        </td>
                        <td>
                            <input type="{{ field.type }}" id="{{ field.name }}" name="{{ field.name }}"
                                   value="{{ field.value }}"/>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <input type="submit" name="Save" value="Save to CSpace">
    </form>
{% endspaceless %}
