<div class="info">
    <h3>Welcome!</h3>
    <p>This is a gateway to publicly-accessible data and images for all objects held at the Phoebe A. Hearst Museum
of Anthropology, University of California, Berkeley.We invite you to explore and discover our collections.<br><br>
Please note that the information provided herein comes from a variety of sources and represents our best effort to
provide accurate information.<br><br>
Records for many objects include their original catalog cards, which often date to the early 1900s.
These cards may include tribal names and terminology that are today considered unacceptable or offensive, or that may
prove inaccurate with further analysis. They have been included to illustrate the information that originally accompanied the objects.
</div>