<table class=horizMenu width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td>
<nav>
	<ul>
    	<li><a href="http://ucjeps.berkeley.edu/">Home</a></li>
        <li><a href="http://ucjeps.berkeley.edu/main/collections.html">About &#x25BE;</a>
        	<ul>
            	<!--<li><a href="#">University Herbarium</a></li>
                <li><a href="#">Jepson Herbarium</a></li></li>-->
                <li><a href="http://ucjeps.berkeley.edu/main/collections.html#UC">About the Collections</a></li>
                <li><a href="http://ucjeps.berkeley.edu/main/directory.html">People</a></li>
                <li><a href="http://ucjeps.berkeley.edu/main/guidelines.html">Visiting the Herbaria</a></li>
                <li><a href="http://ucjeps.berkeley.edu/main/volunteer.html">Volunteering</a></li>
                <li><a href="http://ucjeps.berkeley.edu/main/policies.html">Policies</a></li>
               <!-- <li><a href="http://ucjeps.berkeley.edu/main/questions.html">Herbaria FAQs</a></li>-->
                <li><a href="http://ucjeps.berkeley.edu/history/">History</a></li>
            </ul>
        </li>
        <li><a href="http://ucjeps.berkeley.edu/main/research/">Research &#x25BE;</a>
        	<ul>
            	<li><a href="http://ucjeps.berkeley.edu/main/research/faculty.html">Faculty Research Programs</a></li>
                <li><a href="http://ucjeps.berkeley.edu/Herb_Pubs.html">Herbarium Publications</a></li>
                <li><a href="http://ucjeps.berkeley.edu/jepsonflora/index.html">Jepson Flora Project</a></li>
                <li><a href="http://ucjeps.berkeley.edu/CPD/algal_research.html">Silva Center for Phycological <br />Documentation</a></li>
                <!--<li><a href="http://ucjeps.berkeley.edu/bryolab/Bryolab.html">Mishler Lab</a></li>-->
                <!--<li><a href="http://ucjeps.berkeley.edu/Baldwin-Lab.html">Baldwin Lab</a></li>-->
                <!--<li><a href="#">American-Iranian<br /> Botanical Program</a></li>-->
            </ul>
        </li>
        <li><a href="http://ucjeps.berkeley.edu/main/databases.html">Databases &#x25BE;</a>
        	<ul>
            	<li><a href="http://ucjeps.berkeley.edu/specimens/">UC/JEPS Specimen Portal</a></li>
                <li><a href="http://ucjeps.berkeley.edu/consortium/">Consortium of California Herbaria</a></li>
                <li><a href="http://ucjeps.berkeley.edu/bryolab/UC_bryophytes.html">Bryophyte Specimen Database</a></li>
                <li><a href="http://ucjeps.berkeley.edu/interchange/">Jepson Online Interchange</a></li>
                <li><a href="http://ucjeps.berkeley.edu/db/icpn/">Index of California Plant Names</a></li>
		
                <li><a href="http://ucjeps.berkeley.edu/INA.html">Index Nominum Algarum</a></li>
                <li><a href="http://ucjeps.berkeley.edu/db/JPNI.html">Jepson Place Name Index</a></li>
            </ul>
        </li>
        <li><a href="http://ucjeps.berkeley.edu/efloras.html">eFloras &#x25BE;</a>
        	<ul>
            	<li><a href="http://ucjeps.berkeley.edu/IJM.html">Jepson eFlora</a></li>
                <li><a href="http://ucjeps.berkeley.edu/CA_moss_eflora/">California Moss eFlora</a></li>
				<li><a href="http://ucjeps.berkeley.edu/seaweedflora.html">Seaweed Flora of California<br />(Upcoming)</a></li>
              <li><a href="http://ucjeps.berkeley.edu/efc/">Ecological Flora of California</a></li>
            </ul>
        </li>
        <li><a href="http://ucjeps.berkeley.edu/main/education.html">Education &amp; Outreach &#x25BE;</a>
        	<ul>
            	<li><a href="http://ucjeps.berkeley.edu/workshops/">Public Workshops</a></li>
                <li><a href="http://ucjeps.berkeley.edu/main/opportunities.html">Academic Opportunities</a></li>
                <li><a href="http://ucjeps.berkeley.edu/news/botanylunch/">Botany Lunch Seminar</a></li>
                <!--<li><a href="#">Friends of the Jepson Herbarium</a></li>-->
            </ul>
        </li>
        <li><a href="http://ucjeps.berkeley.edu/main/archives/index.html">Archives &#x25BE;</a>
        	<ul>
            	<li><a href="http://ucjeps.berkeley.edu/main/archives/archives_overview.html">Collections Overview</a></li>
                <li><a href="http://ucjeps.berkeley.edu/archon/">Archives Database</a></li>
                <li><a href="http://ucjeps.berkeley.edu/main/archives/images.html">Images</a></li>
                <li><a href="http://ucjeps.berkeley.edu/images/fieldbooks/jepson_fieldbooks.html">Jepson Field Books</a></li>
<!--                <li><a href="#">Inventory Report</a></li>
                <li><a href="#">Archives Policies</a></li>
                <li><a href="#">Library Collection</a></li> -->
            </ul>
        </li>
        <li><a href="http://ucjeps.berkeley.edu/main/directory.html">Contact</a></li>
        <li><a href="http://ucjeps.berkeley.edu/jeps/friends/index.html">Donate</a></li>
    </ul>
</nav>
</td>
</tr>
</table>
