<div class="info">
    <h3>Welcome!</h3>
    <p/>
    <p>This is a gateway to data and images of all taxa of herbarium specimens
    held at The University and Jepson Herbaria, University of California,
    Berkeley. For type specimen lists and images, see Type Specimens at
    <a href="http://ucjeps.berkeley.edu/main/types.html">UC/JEPS</a>.</p>
    <p>For more California vascular plant records, visit
    The <a href="http://ucjeps.berkeley.edu/consortium/">Consortium of
    California Herbaria</a> for specimen
    data from 30 contributing institutions. </p>
    <p>For taxonomic treatments and
    dichotomous keys of California plants,
    see <a href="http://ucjeps.berkeley.edu/IJM.html">The Jepson eFlora</a> (for
    vascular plants),
    or <a href="http://ucjeps.berkeley.edu/CA_moss_eflora/">The California Moss eFlora</a>.</p>
</div>