<div style="height: 30px; padding-top: 15px;">
    <!-- span class="big">Search:</span -->
    <button type="button" id="search-list" name="search-list" class="prettyBtn" style="color: darkred">Search</button>
    <button type="button" id="search-reset" name="reset-button" class="prettyBtn">Reset</button>
    &nbsp;  &nbsp; &nbsp;
    <span style="background-color: #e8e8e8; padding: 10px 10px 10px 10px;">
        Display format:  &nbsp;  &nbsp;
    <button type="button" id="search-list" name="search-list" class="prettyBtn">List</button>
    <button type="button" id="search-full" name="search-full" class="prettyBtn">Full</button>
    <button type="button" id="search-grid" name="search-grid" class="prettyBtn">Grid</button>
    </span>
    &nbsp;  &nbsp; &nbsp;
    <input type="checkbox" {% if pixonly %}checked {% endif %} name='pixonly' value="pixonly"> Include only items with images.
    &nbsp; &nbsp; &nbsp;
    Display <select id="maxresults" name="maxresults">
        {% for option in resultoptions %}
            <option value="{{option}}"{% if option ==  maxresults %} selected{% endif %}>{{option}}</option>
        {% endfor %}
    </select> items per page.
    <!--span id="acceptterms" class="tiny" style="float: right;">
        <input type="checkbox" {% if acceptterms %}checked {% endif %} name='acceptterms' value="acceptterms">
        I accept the <a href="http://ucjeps.berkeley.edu/useterms.html">data-use terms</a></span -->
        <input type="hidden" name="acceptterms" value="checked">
</div>