{% load staticfiles %}

{% for item in items %}
    <div style="float:right;">
       {% if item.blobs %}
            {% for t in item.blobs %}
                <a target="image"
                   href="{{ imageserver }}/blobs/{{ t }}/derivatives/OriginalJpeg/content">
                    <img height="100px"
                         src="{{ imageserver }}/blobs/{{ t }}/derivatives/Thumbnail/content"/>
                </a>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <div class="result-title">
            <input type="checkbox" name="item-{{ item.counter }}" value="{{ item.csid }}" checked>
            <b><a href="?maxresults=1&displayType=full&accession={{ item.accession }}">{{ item.accession }}</a></b>
            {% if user.is_active and user.is_staff %}
                <a target="cspace" href="http://ucjeps.cspace.berkeley.edu/collectionspace/ui/ucjeps/html/cataloging.html?csid={{ item.csid }}"><img src="{% static "publicsearch/images/open_cspace.png" %}" class="cspaceLink">Open in CSpace</a>
            {% endif %}
        </div>
        <div>
            <h2><a class="facet-item" data-facetType="determination">{{ item.determination }}</a></h2>
            (<a class="facet-item" data-facetType="majorgroup">{{ item.majorgroup }}</a>)</div>
        <div>
            <a class="facet-item" data-facetType="county">{{ item.county }}</a> /
            <a class="facet-item" data-facetType="state">{{ item.state }}</a> /
            <a class="facet-item" data-facetType="country">{{ item.country }}</a>
        </div>
        {% if item.L1 and item.L2 %}
            <div>LatLong: {{ item.L1 }} {{ item.L2 }}
                {% if item.marker %}
                    <a class="map-item">[click for map]</a>
                    <div class="small-map" style="display:none;">
                        <img src="http://maps.google.com/maps/api/staticmap?&zoom=10&size=400x200&maptype=roadmap&markers={{ item.marker }}&sensor=false"/>
                        <div style="height: 40px;">
                            <small><a target="_map"
                                      href="http://maps.google.com/?q=loc:{{ item.marker }}&amp;source=embed">Larger Map</a>
                            </small>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if item.collector %}
        <div>Collector: <a class="facet-item" data-facetType="collector">{{ item.collector }}</a></div>{% endif %}
        {% if item.collectionnumber %}
        <div>Collection Number: <a class="facet-item" data-facetType="collectionnumber">{{ item.collectionnumber }}</a></div>{% endif %}
        {% if item.locality %}
        <div>Locality: <a class="facet-item" data-facetType="locality">{{ item.locality }}</a></div>{% endif %}
        {% if item.earlycollectiondate %}
	    <div>Collection date: <a class="facet-item" data-facetType="collectiondate">{{ item.collectiondate }}</a></div>{% endif %}
        {% if item.habitat %}
	    <div>Habitat: <a class="facet-item" data-facetType="habitat">{{ item.habitat }}</a></div>{% endif %}
        {% if item.elevation %}
	    <div>Elevation: {{ item.elevation }} {{ item.elevationunit }}</div>{% endif %}
        {% if item.updatedat %}
        <div>Last updated: {{ item.updatedat }}</div>{% endif %}

    </div>
    <hr/>
{% endfor %}