<div class="info">
For questions about the content, and to access content beyond what is provided here, please contact David Baxter, dbaxter@berkeley.edu.

This program was written and and is maintained by John Lowe (jblowe@berkeley.edu) and Amy Wieliczka (amywieliczka@berkeley.edu) at RIT/IS&T.
Comments, suggestions, bug reports, and so on are most welcome.

This program is written in Python using Django, jQuery, and Backbone.js.
The data is extracted and updated nightly from the UCJEPS CollectionSpace system.
</div>