<table width="100%">
    <tr>
        <td>
            <label>Keyword</label></td>
        <td>
            <input type="text" id="keyword" name="keyword" value="{{ searchValues.keyword }}"/>
        </td>
        <td>
            <label>Specimen ID</label>
        </td>
        <td>
            <input type="text" id="accession" name="accession"
                   value="{{ searchValues.accession }}"/>
        </td>
        <td>
            <label>Collection Number</label>
        </td>
        <td>
            <input type="text" id="collectionnumber" name="collectionnumber"
                   value="{{ searchValues.collectionnumber }}"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Determination</label>
        </td>
        <td>
            <input type="text" id="determination" name="determination"
                   value="{{ searchValues.determination }}"/>
        </td>
        <td>
            <label>Major Group</label></td>
        <td>
            <input type="text" id="majorgroup" name="majorgroup"
                   value="{{ searchValues.majorgroup }}"/>
        </td>
        <td>
            <label>Year Collected</label></td>
        <td>
            <input type="text" id="collectiondate" name="collectiondate"
                   value="{{ searchValues.collectiondate }}"/>
        </td>
        <td>
            <label>Collector</label>
        </td>
        <td>
            <input type="text" id="collector" name="collector"
                   value="{{ searchValues.collector }}"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Locality</label>
        </td>
        <td>
            <input type="text" id="locality" name="locality" value="{{ searchValues.locality }}"/>
        </td>
        <td>
            <label>County</label>
        </td>
        <td>
            <input type="text" id="county" name="county" value="{{ searchValues.county }}"/>
        </td>
        <td>
            <label>State</label>
        </td>
        <td>
            <input type="text" id="state" name="state" value="{{ searchValues.state }}"/>
        </td>
        <td>
            <label>Country</label>
        </td>
        <td>
            <input type="text" id="country" name="country" value="{{ searchValues.country }}"/>
        </td>
    </tr>
</table>