<div class="info">
<p>You can enter search criteria by typing into the text boxes or selecting
an option from a pick list and then clicking one of the "Display:" options.
Any combination of fields may be used.</p>
<p>Some fields have an option of searching as either "keyword", "phrase", or
"exact".</p>

<p>Exact: This will only return records where the field value is exactly what
you input (e.g. searching for locality Livermore Valley will only retrieve
records where the locality is exactly "Livermore Valley")</p>

<p>Phrase: Returned records will contain exactly what you input, but may have
more text before or after it (e.g. searching Livermore Valley will also
return "eastern Livermore Valley", "4 mi west of Livermore Valley", etc)</p>

<p>Keyword: This will return all records that contain all of the words
entered in that field, in any order (e.g. searching Livermore Valley will
also return "Arroyo Mocho Valley s of Livermore", etc.)</p>

<p>After performing a search, clicking the "Facets" tab will show you a list
all the different values which appear in certain search fields. For
example, if you search for Collector = "W. L. Jepson" (exact), you will see
under County "San Bernardino 1650", "Solano 1385" etc., meaning there are
1650 Jepson specimens collected in San Bernardino Co., 1385 from Solano Co.
etc. Clicking on the name of a facet will refine your search, returning
only the results matching that value.</p>

<p>There are three options for display. List is ideal for seeing summaries of
many records at once. Full shows the full details of each record, including
images. Grid is ideal for viewing many specimens at once while also
displaying images. Clicking the specimen ID number in any view will bring
you to the Full view of that specimen. Clicking an image will open the full
resolution image in a new tab.
</p>
</div>