<div class="info">
    <h2>To Access an E-loan</h2>
    <p>To access an e-loan, simply enter the loan number into the search box at the top of the screen.
    E-loan numbers begin with a capital 'E' and only digits follow.</p>
    <p>The loan items will be displayed, along with an image of the item if one is available. Use the links included within the results
    to view the items in the full public search portal.</p>
    <h2>Login</h2>
    <p>No login is needed to view the e-loan. Simply enter the loan number and press "Search" or the return key.</p>
    <p>However, if you have credentials to access the <a href="https://ucjeps.cspace.berkeley.edu" alt="UCJEPS CollectionSpace
    system">UCJEPS CollectionSpace system</a>, you can use the Sign In button at the top right of the screen
    to login. Once you've logged in, loan items will include a link to view that item directly within CollectionSpace.
    </p>
</div>