<table cellspace="1" id="resultsListing" class="tablesorter">
    <thead>
    <tr>
        <th></th>
        <th>Specimen ID</th>
        <th>Scientific Name</th>
        <th>Collector</th>
        <th>Collection Date</th>
        <th>Collection No.</th>
        <th>County/Prov</th>
        <th>State</th>
        <th>Country</th>
        <th>Locality</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td><input type="checkbox" name="item-{{ item.counter }}" value="{{ item.csid }}" checked></td>
            <td><a href="http://localhost:8000/public/publicsearch?maxresults=1&accession={{ item.accession }}&displayType=full">{{ item.accession }}</a></td>
            <td> {{ item.determination }} </td>
            <td> {{ item.collector }} </td>
            <td> {{ item.collectiondate }} </td>
            <td> {{ item.collectionnumber }} </td>
            <td> {{ item.county }} </td>
            <td> {{ item.state }} </td>
            <td> {{ item.country }} </td>
            <td> {{ item.locality } </td>
        </tr>
    {% endfor %}
    </tbody>
</table>