<div class="info">
    <h3>Welcome!</h3>
    <p/>
    <p>This is the gateway to electronic loans of herbarium specimens
    provided by The University and Jepson Herbaria, <a href="http://berkeley.edu" alt="UC Berkeley web site">
    University of California, Berkeley</a>. <br />
    To arrange for a loan, please contact Andrew S. Doran, andrewdoran@berkeley.edu.</p>
    <p>To search all of the herbaria's specimens, see the
    <a href="http://ucjeps.cspace.berkeley.edu/ucjeps_project/public/publicsearch">Public Search</a> portal.
    For type specimen lists and images, see Type Specimens at
    <a href="http://ucjeps.berkeley.edu/main/types.html">UC/JEPS</a>. <br />
    For more California vascular plant records, visit
    The <a href="http://ucjeps.berkeley.edu/consortium/">Consortium of
    California Herbaria</a> for specimen data from 30 contributing institutions.
    For taxonomic treatments and dichotomous keys of California plants,
    see <a href="http://ucjeps.berkeley.edu/IJM.html">The Jepson eFlora</a> (for
    vascular plants), or <a href="http://ucjeps.berkeley.edu/CA_moss_eflora/">The California Moss eFlora</a>.</p>
</div>